.donut-chart {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  position: relative;
}

.row-space{
  height: 20px;
}

.cards-row{
  padding-left: 10px;
  padding-right: 10px;
}

